<div class="div_add_new_champ">
    <div class="d-flex justify-content-center">
        <h1>Ajout d'un nouveau champion</h1>
    </div>

    <div class="d-flex justify-content-center">
        <p>Vous pouvez ici entrer les données concernant un nouveau champion.</p>
    </div>
</div>

<div class="div_add_new_champ d-flex justify-content-center">
    <div>
        <form class="d-flex justify-content-center" action="/champions">
            <div class="form-row align-self-center">
                <div class="col-mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image">
                </div>
                <div class="col-mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nom</label>
                    <input type="email" class="form-control" id="name">
                </div>
            </div>
            
            <div class="form-row align-self-center">
                <div class="mb-3">
                    <label for="statHP" class="form-label">Stat HP</label>
                    <input type="text" class="form-control" id="statHP">
                </div>
                <div class="mb-3">
                    <label for="statMP" class="form-label">Stat MP</label>
                    <input type="text" class="form-control" id="statMP">
                </div>
                <div class="mb-3">
                    <label for="statAD" class="form-label">Stat AD</label>
                    <input type="text" class="form-control" id="statAD">
                </div>
                <div class="mb-3">
                    <label for="statAR" class="form-label">Stat AR</label>
                    <input type="text" class="form-control" id="statAR">
                </div>
                <div class="mb-3">
                    <label for="statMS" class="form-label">Stat MS</label>
                    <input type="text" class="form-control" id="statMS">
                </div>
            </div>

            <div class="form-row align-self-center">
                <button type="submit" class="btn btn-primary btn-add-perso">Ajouter</button>
            </div>
            


            
        </form>
    </div>
    
</div>
