<div class="div_welcome">
    <div class="d-flex justify-content-center">
        <h1>Liste des champions</h1>
    </div>
    
    <div class="d-flex justify-content-center">
        <a class="btn btn-create-perso" routerLink="/new">Nouveau champion</a>
    </div>
</div>

   <ul class="list-group">
    <app-champion *ngFor="let champion of championss"
      [championName]="champion.name" 
      [championBought]="champion.bought"
      [championHP]="champion.HP" 
      [championMP]="champion.MP" 
      [championAD]="champion.AD" 
      [championAR]="champion.AR"
      [championMS]="champion.MS"
      [championMainLogo]="champion.mainLogo"
    ></app-champion>
  </ul>